<!DOCTYPE html>
<html>
  <head>
    <title>StudentStudy | Create a group</title>
    <title>ChatCord App</title>
    <style>
      /* CSS styles go here */
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      header {
        background-color: rgb(250, 244, 244);
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
      }
      #logo {
        font-size: 24px;
        font-weight: bold;
        padding-right: 20px;
        color: black;
      }
      #register,
      #join {
        margin-right: 20px;
        font-size: small;
        color: black;
        text-decoration: none;
      }

      #left-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      #right-header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }

      button {
        background-color: rgb(61, 61, 193);
        color: white;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
      }

      #login1 {
        margin-right: 10px;
      }

      #search-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20%;
      }
      #search-card {
        width: 60%;
        height: 80%;
        padding: 20px;
        border: 1px solid black;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
      }

      #search-title {
        font-size: 36px;
        margin-bottom: 20px;
      }

      #search-bar {
        width: 100%;
        margin: 20px 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
      }

      #search-label {
        font-size: 18px;
        margin-bottom: 10px;
        text-align: flex-end;
      }

      #search-input {
        width: 80%;
        border: 1px solid black;
        font-size: 16px;
        padding: 5px;
        background-image: url("https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_search_48px-512.png");
        background-position: 5px;
        background-size: 20px;
        background-repeat: no-repeat;
        text-indent: 20px;
      }

      #search-button:hover {
        background-color: #2f6f2f;
      }

      /* Added styles */
      #register-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding-right: 20px;
      }

      #register-card {
        width: 50%;
        padding: 20px;
        border: 1px solid black;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        padding-left: 10%;
      }

      .form-group {
        margin-bottom: 20px;
      }

      #bio {
        margin-top: 20px;
        height: 40px;
      }
      .group-heading {
        text-align: center;
      }

      .form-control {
        width: 50%;
      }
    </style>
  </head>
  <body>
    <%- include("header") %>
    <div id="register-container">


      <div id="register-card">
        <h2>Create a Group</h2>
        <form id="register-form" action="/group/register" method="POST">

          <div class="form-group">
            <label for="group-name" class="form-label">Group Name</label>
            <input
              type="text"
              id="group-name"
              name="groupname"
              class="form-control"
              placeholder="Group Name"
              required
            />
          </div>

          <div class="form-group">
            <label for="group-name" class="form-label">Subject</label>
            <input
              type="text"
              id="group-subject"
              name="subject"
              class="form-control"
              placeholder="Subject"
              required
            />
          </div>

          <!-- <div class="form-control">
            <label for="subject" class="form-label">Subject</label>
            <input
              type="text"
              id="group-name"
              name="group-name"
              class="form-control"
              placeholder="Group Name"
              required
            />

            <select name="room" id="room">
              <option value="JavaScript">JavaScript</option>
              <option value="Python">Python</option>
              <option value="PHP">PHP</option>
              <option value="C#">C#</option>
              <option value="C">C</option>
              <option value="C++">C++</option>
              <option value="Ruby">Ruby</option>
              <option value="Java">Java</option>
              <option value="Haskell">Haskell</option>
              <option value="Postscript">Postscript</option>
            </select>
          </div> -->


          <div class="form-group">
            <label for="expiration-date" class="form-label">Exp. date</label>
            <input
              type="date"
              id="expirationdate"
              name="expirationdate"
              class="form-control"
              placeholder=""
              required
            />
          </div>
          <div class="form-group">
            <label for="description" class="form-label"></label>
            <textarea
              id="description"
              name="description"
              class="form-control"
              placeholder="BIO"
              required
            ></textarea>
          </div>
          <button type="submit" id="register-button">Register</button>
        </form>
      </div>
    </div>
  </body>
</html>
